%p#notice= notice

%p
  %b Name:
  = @patient.name

%ul
  = render(partial: 'doctor',
    collection: @doctors) || 'This patient has no doctors'

= link_to 'Edit', edit_patient_path(@patient)
\|
= link_to 'Back', patients_path
